# Lab 06 - Bài tập

In [1]:
import pandas as pd
import numpy as np
import math
import scipy.stats as st

C:\Users\ACER\AppData\Local\Temp\ipykernel_27736\653057364.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## <u>Bài 1</u>

Green M&M Candies liên quan đến Dataset 18 trong file excel. Tìm tỉ lệ mẫu của M&M có màu xanh lá cây (green). Sử dụng kết quả để xây dựng 1 ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh.

In [2]:
df=pd.read_excel('data2/18_M_M.xls')
df

      Red  Orange  Yellow  Brown   Blue  Green
0   0.751   0.735   0.883  0.696  0.881  0.925
1   0.841   0.895   0.769  0.876  0.863  0.914
2   0.856   0.865   0.859  0.855  0.775  0.881
3   0.799   0.864   0.784  0.806  0.854  0.865
4   0.966   0.852   0.824  0.840  0.810  0.865
5   0.859   0.866   0.858  0.868  0.858  1.015
6   0.857   0.859   0.848  0.859  0.818  0.876
7   0.942   0.838   0.851  0.982  0.868  0.809
8   0.873   0.863     NaN    NaN  0.803  0.865
9   0.809   0.888     NaN    NaN  0.932  0.848
10  0.890   0.925     NaN    NaN  0.842  0.940
11  0.878   0.793     NaN    NaN  0.832  0.833
12  0.905   0.977     NaN    NaN  0.807  0.845
13    NaN   0.850     NaN    NaN  0.841  0.852
14    NaN   0.830     NaN    NaN  0.932  0.778
15    NaN   0.856     NaN    NaN  0.833  0.814
16    NaN   0.842     NaN    NaN  0.881  0.791
17    NaN   0.778     NaN    NaN  0.818  0.810
18    NaN   0.786     NaN    NaN  0.864  0.881
19    NaN   0.853     NaN    NaN  0.825    NaN
20    NaN   0.864     NaN    NaN  0.855    NaN
21    NaN   0.873     NaN    NaN  0.942    NaN
22    NaN   0.880     NaN    NaN  0.825    NaN
23    NaN   0.882     NaN    NaN  0.869    NaN
24    NaN   0.931     NaN    NaN  0.912    NaN
25    NaN     NaN     NaN    NaN  0.887    NaN
26    NaN     NaN     NaN    NaN  0.886    NaN

In [3]:
df_green=df['Green'].sum()
print("Tong green: ", df_green)

Tong green:  16.407

In [4]:
df_sum=df['Green'].sum()+df['Blue'].sum()+df['Yellow'].sum()+df['Orange'].sum()+df['Red'].sum()+df['Brown'].sum()
print("Tong dt: ", df_sum.round(4))

Tong dt:  85.649

In [5]:
p=(df_green/df_sum).round(4)
print("Ti le green: ", p)

Ti le green:  0.1916

In [6]:
n=len(df['Green'])
tb=np.float64(df['Green'].mean())
dlc=np.float64(df['Green'].std())

print("Tb: ", tb.round(4))
print("Dlc: ", dlc.round(4))
print("n: ", n)

Tb:  0.8635
Dlc:  0.057
n:  27

In [7]:
dotinhcay=0.95
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

alpha/2:  0.025

In [8]:
saiso=st.norm.isf(alpha_chia2)*(math.sqrt(p*(1-p)/n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog ty le: ({(p-saiso).round(4)}, {(p+saiso).round(4)})')

Sai so:  0.1484
Khoang uoc luog ty le: (0.0432, 0.34)

## <u>Bài 2</u>

Freshman Weight Gain liên quan đến Dataset 3 trong file excel

a. Dựa vào kết quả của mẫu, tìm ước lượng điểm tốt nhất của tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

b. Xây dựng ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

In [9]:
df3=pd.read_excel('./data2/03_FRESH15.xls')
df3

   SEX  WTSEP  WTAPR  BMISP  BMIAP
0    M     72     59  22.02  18.14
1    M     97     86  19.70  17.44
2    M     74     69  24.09  22.43
3    M     93     88  26.97  25.57
4    F     68     64  21.51  20.10
..  ..    ...    ...    ...    ...
62   M     65     71  22.51  24.45
63   M     75     82  23.69  25.80
64   F     42     49  15.08  17.74
65   M     74     82  22.64  25.33
66   M     94    105  36.57  40.86

[67 rows x 5 columns]

In [10]:
# a. Dựa vào kết quả của mẫu, tìm ước lượng điểm tốt nhất của tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.
df3_count_weight_again=df3[df3['WTAPR'] > df3['WTSEP']].shape[0]
print("So sinh vien tang can: ", df3_count_weight_again)

df3_count=df3.shape[0]
print("So sinh vien: ", df3_count)

p=np.float64(df3_count_weight_again/df3_count)
print("Ti le sinh vien tang can: ", p.round(4))

So sinh vien tang can:  45
So sinh vien:  67
Ti le sinh vien tang can:  0.6716

In [11]:
# b. Xây dựng ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.
dotinhcay=0.95
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

n=len(df3['WTAPR'])
tb=np.float64(df3['WTAPR'].mean())
dlc=np.float64(df3['WTAPR'].std())

print("Tb: ", tb.round(4))
print("Dlc: ", dlc.round(4))
print("n: ", n)

saiso=st.norm.isf(alpha_chia2)*(math.sqrt(p*(1-p)/n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog ty le: ({(p-saiso).round(4)}, {(p+saiso).round(4)})')

alpha/2:  0.025
Tb:  66.2388
Dlc:  11.2843
n:  67
Sai so:  0.1124
Khoang uoc luog ty le: (0.5592, 0.7841)

## <u>Bài 3</u>

Lượng mưa ở Boston: liên quan đến Dataset 14 trong file excel, và quan tâm đến các ngày với các giá trị lượng mưa khác nhau từ 0 đến các ngày có mưa có giá trị lượng mưa lớn hơn 0.

- Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư và 
- Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật.

In [12]:
df14=pd.read_excel('./data2/14_BOSTRAIN.xls')
df14.head()

    MON  TUES   WED  THURS   FRI   SAT   SUN
0  0.00  0.00  0.00   0.04  0.04  0.00  0.05
1  0.00  0.00  0.00   0.06  0.03  0.10  0.00
2  0.00  0.00  0.00   0.71  0.00  0.00  0.00
3  0.00  0.44  0.14   0.04  0.04  0.64  0.00
4  0.05  0.00  0.00   0.00  0.01  0.05  0.00

In [13]:
# Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư và 
dotinhcay=0.95
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

df14_count_rain_web=df14[df14['WED']>0].shape[0]
print("So ngay mua: ", df14_count_rain_web)

df14_count=df14.shape[0]   
print("So ngay: ", df14_count)

p=np.float64(df14_count_rain_web/df14_count)
print("Ti le ngay mua: ", p.round(4))

n=len(df14['WED'])
tb=np.float64(df14['WED'].mean())
dlc=np.float64(df14['WED'].std())

print("Tb: ", tb.round(4))
print("Dlc: ", dlc.round(4))
print("n: ", n)

saiso=st.norm.isf(alpha_chia2)*(math.sqrt(p*(1-p)/n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog ty le: ({(p-saiso).round(4)}, {(p+saiso).round(4)})')

alpha/2:  0.025
So ngay mua:  16
So ngay:  53
Ti le ngay mua:  0.3019
Tb:  0.0508
Dlc:  0.1346
n:  53
Sai so:  0.1236
Khoang uoc luog ty le: (0.1783, 0.4255)

In [14]:
# Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày chủ nhật
dotinhcay=0.95
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

df14_count_rain_sun=df14[df14['SUN']>0].shape[0]
print("So ngay mua: ", df14_count_rain_sun)

df14_count=df14.shape[0]   
print("So ngay: ", df14_count)

p=np.float64(df14_count_rain_sun/df14_count)
print("Ti le ngay mua: ", p.round(4))

n=len(df14['SUN'])
tb=np.float64(df14['SUN'].mean())
dlc=np.float64(df14['SUN'].std())

print("Tb: ", tb.round(4))
print("Dlc: ", dlc.round(4))
print("n: ", n)

saiso=st.norm.isf(alpha_chia2)*(math.sqrt(p*(1-p)/n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog ty le: ({(p-saiso).round(4)}, {(p+saiso).round(4)})')

alpha/2:  0.025
So ngay mua:  15
So ngay:  53
Ti le ngay mua:  0.283
Tb:  0.0677
Dlc:  0.2
n:  53
Sai so:  0.1213
Khoang uoc luog ty le: (0.1617, 0.4043)

## <u>Bài 4</u>

Tổng số tiền phim: liên quan đến Dataset 9 trong file excel. Xây dựng ước tính khoảng thời gian tin cậy 95% của tổng số tiền trung bình cho quần thể của tất cả các phim. Giả định rằng độ lệch chuẩn của quần thể được biết là 100 triệu đô la.

In [15]:
df9=pd.read_excel('./data2/09_MOVIES.xls')
df9.head()

               Title   MPAA  Budget  Gross  Length  Rating
0             8 Mile      R    41.0    117     110     6.7
1  Alone in the Dark      R    20.0      5      96     2.2
2            Aviator  PG-13   116.0    103     170     7.6
3           Big Fish  PG-13    70.0     66     125     8.0
4    Bourne Identity  PG-13    75.0    121     119     7.4

In [16]:
Total_movies=df9['Gross'].sum()
print("Tong doanh thu: ", Total_movies)

dotinhcay=0.95
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

dolechchuan=100e6
n=len(df9['Gross'])
tb=np.float64(df9['Gross'].mean())

print("Tb: ", tb.round(4))
print("n: ", n)

saiso=st.norm.isf(alpha_chia2)*(dolechchuan/math.sqrt(n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog doanh thu: ({(tb-saiso).round(4)}, {(tb+saiso).round(4)})')

Tong doanh thu:  4305
alpha/2:  0.025
Tb:  123.0
n:  35
Sai so:  33129438.013
Khoang uoc luog doanh thu: (-33129315.013, 33129561.013)

## <u>Bài 5</u>

Điểm đánh giá tín dụng FICO: liên quan đến Dataset 24 trong file excel. Xây dựng ước lượng khoảng tin cậy 99% của điểm FICO trung bình cho quần thể. Giả sử độ lệch chuẩn của quần thể là 92,2.

In [17]:
df24=pd.read_excel('./data2/24_FICO.xls')
df24

    708
0   713
1   781
2   809
3   797
4   793
..  ...
94  796
95  611
96  709
97  697
98  732

[99 rows x 1 columns]

In [18]:
dotinhcay=0.99
alpha_chia2=np.float64((1-dotinhcay)/2)
print("alpha/2: ", alpha_chia2.round(4))

n=len(df24)
tb=np.float64(df24.mean())
dlc=92.2

print("Tb: ", tb.round(4))
print("Dlc: ", dlc)
print("n: ", n)

saiso=st.norm.isf(alpha_chia2)*(dlc/math.sqrt(n))
print("Sai so: ", saiso.round(4))
print(f'Khoang uoc luog diem: ({(tb-saiso).round(4)}, {(tb+saiso).round(4)})')

alpha/2:  0.005
Tb:  703.0606
Dlc:  92.2
n:  99
Sai so:  23.8688
Khoang uoc luog diem: (679.1918, 726.9294)

C:\Users\ACER\AppData\Local\Temp\ipykernel_27736\2655130263.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  tb=np.float64(df24.mean())